
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .hello{
      font-size: 16px;
      position: relative; /* Smaller icon size for smaller screens */
      left: 1.9rem;
    }
    
    /* Adjust input field width */
    .form-control {
      width: 100%; /* Make the input field expand to full width */
    }
  }
  